
/*******************************/
/********** About CSS **********/
/*******************************/
.about1 {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about1 .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about1 .about-img {
    width: 100%;
    height: 100vh;
}

.about1 .about-tab {
    width: 100%;
}

.about1 .about-tab .nav.nav-pills .nav-link {
    padding: 8px;
    font-weight: 600;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    transition: none;
}

.about1 .about-tab .nav.nav-pills .nav-link:hover,
.about1 .about-tab .nav.nav-pills .nav-link.active {
    color: #FDBE33;
    padding-bottom: 7px;
    border-bottom: 3px solid #FDBE33;
}

.about1 .about-tab .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.about1 .about-tab .tab-content .container {
    padding: 0;
}

@media (max-width: 991.98px) {
    .about1 .section-header {
        margin-top: 30px;
    }
}


/*******************************/
/********* Service CSS *********/
/*******************************/
.service1 {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service1 .service-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    transition: .3s;
}

.service1 .service-icon {
    position: relative;
    width: 60px;
}

.service1 .service-icon i {
    position: relative;
    display: block;
    color: #FDBE33;
    font-size: 60px;
    line-height: 60px;
    margin-top: 5px;
}

.service1 .service-text {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

.service1 .service-text::before {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 10px);
    top: 5px;
    left: 0;
    background: rgba(0, 0, 0, .1);
}

.service1 .service-text::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    top: calc(50% - 20px);
    left: -1px;
    background: #FDBE33;
}

.service1 .service-text h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service1 .service-text p {
    margin: 0;
}



/*******************************/
/********** Facts CSS **********/
/*******************************/
.facts {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 45px 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

.facts .facts-item {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

.facts .facts-item i {
    margin-top: 10px;
    font-size: 60px;
    line-height: 60px;
    color: #FDBE33;
}

.facts .facts-text {
    padding-left: 20px;
}

.facts .facts-text h3 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 45px;
    font-weight: 700;
}

.facts .facts-text h3::after {
    position: absolute;
    top: 0px;
    color: #ffffff;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.facts .facts-text h3.facts-plus::after {
    content: "\f067";
    right: -25px;
}

.facts .facts-text h3.facts-dollar::after {
    content: "\f155";
    right: -18px;
}

.facts .facts-text p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}



/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog1 {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.blog1 .blog-item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    background: #f3f6ff;
}

.blog1 .blog-img {
    width: 100%; /* Ensures it fills the parent container */
    height: 280px; /* Set a fixed height */
    overflow: hidden; /* Hides overflow to maintain uniformity */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}

.blog1 .blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.blog1 .blog-text {
    padding: 30px 30px 15px 30px;
}

.blog1 .blog-text h3 {
    font-size: 22px;
    font-weight: 700;
}

.blog1 .blog-text h3 a {
    color: #4a4c70;
}

.blog1 .blog-text h3 a:hover {
    color: #FDBE33;
}

.blog1 .blog-text p {
    margin: 0;
}

.blog1 .blog-meta {
    margin: 0 30px;
    padding-top: 15px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.blog1 .blog-meta p {
    margin: 0;
    color: #777777;
    padding: 0 30px;
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.blog1 .blog-meta p:first-child {
    padding-left: 0;
}

.blog1 .blog-meta p:last-child {
    padding-right: 0;
    border: none;
}

.blog1 .blog-meta i {
    color: #4a4c70;
    margin-right: 8px
}

.blog1 .pagination {
    margin-bottom: 15px;
}

.blog1 .pagination .page-link {
    color: #4a4c70;
    border-radius: 0;
    border-color: #4a4c70;
}

.blog1 .pagination .page-link:hover,
.blog1 .pagination .page-item.active .page-link {
    color: #FDBE33;
    background: #4a4c70;
}

.blog1 .pagination .disabled .page-link {
    color: #999999;
}


/* Comment form */

.single .comment-form {
    position: relative;
}

.single .comment-form h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}

.single .comment-form form {
    padding: 30px;
    background: #d8dff4;
}

.single .comment-form form .form-group:last-child {
    margin: 0;
}

.single .comment-form input,
.single .comment-form textarea {
    border-radius: 0;
}

.single .comment-form input:focus,
.single .comment-form textarea:focus {
    border-color: #05b130;
}
